<%- include('partials/header.ejs') %>
<%- include('partials/homeNavbar.ejs') %>
<body>
    <div class="container">
        
        <hr/>
        <div class="jumbotron">
            <h1 class="display-4">Blog GuiaPress</h1>
            <p class="lead">Este é um simples blog produzido para compartilhamento de informações.</p>
            <hr class="my-4">
            <a href="#" class="btn btn-primary btn-lg">Detalhes</a>
        </div>

        <% articles.forEach(article => { %>
            <div class="card my-4">
                <div class="card-header">
                    <h4><%= article.title %></h4>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <hr/>
        <% }); %>

        <div class="row">
            <div class="col col-12">
                <a style="float: right" href="/articles/page/2">Próxima Página >>></a>
            </div>
        </div>
        <hr/>
    </div>
</body>
<%- include('partials/footer.ejs') %>